/* Custom styles for buttons */
.btn-custom {
  background-color: #33393C;
  color: white;
}

.btn-custom:hover {
  background-color: #23272B;
  color: white;
}

/* Styles for the result text */
#result {
  color: #33393C;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  word-wrap: break-word;
  /* Ensure long words break to fit within the container */
}

/* Styles for the result container */
.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}

/* Styles for the label box */
.label-box {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 35px;
}

/* Styles for the select element */
.form-select {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 35px;
}